<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet" href="./css/style.css">
  </head>

  <body>
    {{>header}}
    <img src="/img/comment_1608137626FawYRxMxusaN1bZRQA662R.jpg">
    {{>footer}}

  </body>

</html>